@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inconsolata:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  line-height: 1.2em;
}

:root {
  --text-primary:  'Dela Gothic One', cursive;
  --text-secondary:  'Inconsolata', monospace;
  --primary-color:#000;
  --secondary-color: #fff;
  --primary-text: #fff;
  --secondary-text: #ED5565;
}

ul, li {
  list-style: none;
}

a, a:hover {
  color: #fff;
  text-decoration: none;
  color: var(--primary-text);
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
}

/*=== Loader ===*/
.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--primary-color);
  z-index: 10;
}

.loader {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid var(--secondary-text);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: mymove 3s infinite;
          animation: mymove 3s infinite;
}

@-webkit-keyframes mymove {
  25% {
    width: 0px;
    height: 60px;
  }
  50% {
    width: 60px;
    height: 60px;
  }
  75% {
    width: 60px;
    height: 0px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}

@keyframes mymove {
  25% {
    width: 0px;
    height: 60px;
  }
  50% {
    width: 60px;
    height: 60px;
  }
  75% {
    width: 60px;
    height: 0px;
  }
  100% {
    width: 0px;
    height: 0px;
  }
}

/*=== Navbar ===*/
.navbar {
  width: 100vw;
  position: fixed;
  background-color: var(--primary-color);
  padding: 30px 0;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 50px;
}

.navbar .container .logo {
  font-family: var(--text-primary);
  font-size: 20px;
  color: var(--primary-text);
}

.navbar .container ul {
  font-size: 20px;
  font-family: var(--text-secondary);
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container ul li {
  margin-left: 40px;
}

.navbar .container .menu-open {
  display: none;
}

.navbar .container .menu-open i {
  color: white;
  margin: 5px;
}

/*=== Home ===*/
.home {
  height: 100vh;
}

.home .follow {
  font-family: var(--text-secondary);
  position: absolute;
  color: #fff;
  top: 50%;
  left: -10px;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .follow ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .follow ul li {
  font-size: 18px;
  margin: 0 10px;
}

.home .follow ul li:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.home .container {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 150px;
}

.home .container .intro-text {
  font-family: var(--text-secondary);
  color: var(--secondary-color);
  font-size: 40px;
}

.home .container .intro-text span {
  color: #ED5565;
}

.home .container .intro-text .hl {
  width: 400px;
  height: 5px;
  background-color: #ED5565;
  margin-top: 18px;
  -webkit-animation: moveline 5s infinite;
          animation: moveline 5s infinite;
}

@-webkit-keyframes moveline {
  50% {
    width: 500px;
    height: 5px;
  }
  100% {
    width: 400px;
    height: 5px;
  }
}

@keyframes moveline {
  50% {
    width: 500px;
    height: 5px;
  }
  100% {
    width: 400px;
    height: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .container {
    margin: 0 25px;
  }
  .navbar .container ul {
    display: none;
  }
  .navbar .container .menu-open {
    display: block;
  }
  .home .follow {
    display: none;
  }
  .home .container {
    margin: 0 50px;
  }
  .home .container .intro-text {
    font-size: 28px;
  }
  .home .container .intro-text .hl {
    width: 250px;
  }
  @-webkit-keyframes moveline {
    50% {
      width: 100px;
      height: 5px;
    }
    100% {
      width: 250px;
      height: 5px;
    }
  }
  @keyframes moveline {
    50% {
      width: 100px;
      height: 5px;
    }
    100% {
      width: 250px;
      height: 5px;
    }
  }
}
/*# sourceMappingURL=style.css.map */